.rbc-toolbar {
  background-color: var(--color-toolbar-bg);
  color: var(--color-toolbar-label);
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 9px;
  display: flex;
}

.rbc-toolbar-label {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 10px 0;
}

.rbc-event,
.rbc-event:focus,
.rbc-event.rbc-selected {
  border-radius: 8px;
  padding: 4px;
  font-size: 0.9rem;
  background-color: var(--color-calendar-event-bg);
  color: var(--color-calendar-event-text);
  width: 90%;
  margin-left: 6px;
}

.rbc-today {
  border: 2px solid var(--color-calendar-border);
}

.rbc-month-view {
  border-radius: 9px;
  border: none;
  background-color: var(--color-calendar-bg);
  padding: 0 8px 8px 8px;
  gap: 4px;
}

.rbc-month-row {
  border-top: none !important;
}

.rbc-month-row:last-of-type .rbc-row-bg .rbc-day-bg:first-of-type {
  border-bottom-left-radius: 9px;
}

.rbc-month-row:last-of-type .rbc-row-bg .rbc-day-bg:last-of-type {
  border-bottom-right-radius: 9px;
}

.rbc-day-bg {
  background-color: var(--color-calendar-numbers);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 7px;
  max-width: none;
  height: 100%;
}

.rbc-date-cell {
  margin: auto;
}

.rbc-calendar {
  border-radius: 9px;
  background-color: var(--color-calendar-bg);
}

.rbc-header {
  background-color: var(--color-calendar-numbers);
  color: var(--color-calendar-border);
  font-size: 1rem;
  border-radius: 15px;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: none;
  margin: 1px 3px;
  padding: 3px;
}

.rbc-time-slot {
  color: black;
}

.rbc-time-view {
  background-color: rgb(216, 216, 216);
}

.rbc-allday-cell .rbc-row-bg {
  padding: 2px;
}

.rbc-month-header,
.rbc-row-bg,
.rbc-row {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.rbc-month-header,
.rbc-row-content,
.rbc-row-bg,
.rbc-month-view {
  gap: 4px;
}

.rbc-row-content {
  width: 99.5%;
}

.rbc-current button.rbc-button-link {
  font-size: 1rem;
  font-weight: 600;
  padding: 3px;
}

.rbc-toolbar button {
  background-color: var(--color-toolbar-button);
  color: var(--color-toolbar-text);
  font-weight: normal;
  transition: background-color 0.2s ease, color 0.2s ease;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 0.9rem;
}

.rbc-toolbar button.rbc-active {
  background-color: var(--color-toolbar-button-active) !important;
  color: var(--color-toolbar-label);
  font-weight: 600;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.rbc-toolbar button:hover {
  background-color: var(--color-toolbar-button-hover);
  color: var(--color-toolbar-label);
}

.rbc-toolbar button.rbc-active:hover {
  background-color: var(--color-toolbar-button-active) !important;
  color: var(--color-toolbar-label);
}

.rbc-button-link {
  color: var(--color-calendar-border);
  font-weight: 500;
  font-size: 0.9rem;
}

@media (max-width: 875px) {
  .rbc-toolbar {
    flex-direction: column;
  }
  .rbc-toolbar-label {
    margin: 10px 0;
  }
}
