.button {
  
  &__modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    border: none;
    background-color: var(--color-modal-button);
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    width: auto;
    color: var(--color-modal-text);
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background-color: var(--color-modal-button-hover);
      color: var(--color-modal-text);
    }
  }

  &__button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    border: 1px solid var(--color-header-text);
    background-color: var(--color-header-button);
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    width: auto;
    color: var(--color-header-text);
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background-color: var(--color-header-button-hover);
      color: var(--color-header-text-hover);
    }
  }

  &__button-wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    border: none;
    background-color: var(--color-header-text);
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    color: var(--color-header-button);
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background-color: var(--color-header-button-hover);
      color: var(--color-header-text-hover);
    }
  }
}
