.calendar {

  &__square-wrapper {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__square-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 4px 6px 5px 3px rgba(0, 0, 0, 0);
  }

  &__logo {
    object-fit: contain;
    padding: 10px;
  }

  &__square-logo-text {
    display: flex;
    align-content: flex-end;
    height: 100%;
    margin-left: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75vh;
    width: 90vw;
    padding: 10px;
    box-sizing: border-box;
  }

  &__sizing {
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    height: 100%;
  }

  &__component {
    min-height: 494px;
    height: 100%;
    min-width: 452px;
    box-shadow: 2px 3px 6px 4px rgba(0, 0, 0, 0.1);
  }
}
