.modal {
  
  &__delete-modal-text-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__delete-modal-title {
    padding-bottom: 5px;
  }

  &__delete-modal-event-title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 0 15px 0;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__delete-modal-label {
    padding: 5px 0;
  }

  &__delete-modal-event-date {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 0 15px 0;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__delete-modal-no-contacts {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: auto;
    padding: 0 0 15px 0;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  &__form-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column nowrap;
    background-color: white;
    height: auto;
    width: 60%;
    padding: 30px;
    border-radius: 10px;
    min-width: 315px;
  }

  &__text-container-left-align {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    width: 80%;
  }

  &__title-bar {
    width: 80%;
    font-size: 1.1rem;
    margin: 0 0 20px 0;
  }

  &__add-dates-containers {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-flow: row nowrap;
  }

  @media (max-width: 1588px) {
    &__add-dates-containers {
      flex-flow: column nowrap;
    }
  }

  &__start-time-bar {
    width: auto;
    font-size: 1.1rem;
    margin: 0 0 20px 0;
  }

  @media (max-width: 1588px) {
    &__start-time-bar {
      width: 100%;
    }
  }

  &__end-time-bar {
    width: auto;
    font-size: 1.1rem;
    margin: 0 0 20px 0;
  }
  
  @media (max-width: 1588px) {
    &__end-time-bar {
      width: 100%;
    }
  }

  &__contacts-added-container {
    width: 80%;
    max-height: 220px;
    background-color: #fff;
    margin: 0 0 20px 0;
    overflow-y: auto;
  }
}
