.header {

  &__wrapper {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    margin: 0 20px 0 0;
  }

  &__welcome-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--color-header-button);
  }
}
