.register {
  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: 300px;
  }

  &__form-wrapper {
    height: auto;
    padding: 20px;
    background-color: var(--color-toolbar-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  &__input-boxes {
    padding: 10px;
    font-size: 1.2rem;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    border: none;

    &:focus {
      border: none;
    }
  }

  &__title {
    font-size: 2.8rem;
    margin-bottom: 10px;
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__btn {
    margin-top: 20px;
    width: 100%;
    font-weight: 600;
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-error-text);
    margin-top: 20px;
  }

  &__login-link {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
}
