.searchbar {
    
  &__wrapper {
    width: 100%;
    height: auto;
    margin: 5px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    font-size: 1.3rem;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;

    &:focus {
      outline: none;
    }
  }
}
