.sidebar {
    
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80%;
    background-color: lavender;
    border-radius: 8px;
    box-shadow: 4px 6px 5px 3px rgba(0, 0, 0, 0.1);
    min-width: 130px;
    max-width: 130px;
    flex-flow: column nowrap;
    margin: 10px 0 0 10px;
  }

  &__tab-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    gap: 5px;
    height: 90%;
  }

  &__tab {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 3px;
    width: 100%;
    border: 1px solid white;
    height: 40px;
    color: black;
    background-color: rgb(187, 151, 194);
    cursor: pointer;
    border-radius: 7px;
    font-size: 1rem;
  }

  &__tab:first-of-type {
    margin-top: 10px;
    &:hover {
      background-color: rgb(149, 114, 156);
    }
  }
}
