@import "react-big-calendar/lib/css/react-big-calendar.css";
/* @import '../styles/custom-calendar.css'; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: auto;
  min-height: 100%;
  background-color: var(--color-page-bg);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

:root {
  --color-page-bg: #fff;

  --color-toolbar-bg: #ef3e0e;
  --color-toolbar-button: rgb(255, 255, 255);
  --color-toolbar-button-hover: rgba(79, 45, 80, 0.692);
  --color-toolbar-button-active: rgba(79, 45, 80, 0.692);
  --color-toolbar-label: #fff;
  --color-toolbar-text: #ef3e0e;

  --color-modal-button: #ef3e0e;
  --color-modal-text: #fff;
  --color-modal-button-hover: #a33718;

  --color-header-button: #fff;
  --color-header-text: #ef3e0e;
  --color-header-button-hover: #a33718;
  --color-header-text-hover: #fff;

  --color-calendar-bg: #d3d3d3;
  --color-calendar-border: #ee5126;
  --color-calendar-numbers: #ffffff;

  --color-event-bg: #ef3e0e;
  --color-event-text: #fff;

  --color-today-border: #007bff;
  --color-header-bg: rgba(145, 71, 148, 0.692);

  --color-contacts-container-bg: #d6d6d6;
  --color-contacts-bg: #fff;
  --color-contacts-text: #333;
  --color-error-text: red;
  --color-user-icon: #ef3e03;
  --color-contacts-icon-text: #333;
  --color-selected-contact-bg: #666;
  --color-notselected-contact-bg: #fff;
}

html.dark {
  --color-toolbar-bg: #1e1e1e;
  --color-toolbar-button: #333;
  --color-toolbar-button-hover: #444;
  --color-toolbar-button-active: #555;
  --color-toolbar-label: #eee;
  --color-calendar-bg: rgba(97, 92, 92, 0.2);
  --color-calendar-border: #555;
  --color-event-bg: #2a2a2a;
  --color-event-text: #fff;
  --color-today-border: #6c63ff;
  --color-header-bg: #2c2c3c;
  --color-toolbar-text: #fff;
  --color-calendar-bg: #b4b4b4;
  --color-page-bg: #575757;
  --color-header-button: #333;
  --color-header-text: #eee;
  --color-header-button-hover: #444;
  --color-header-text-hover: #eee;
  --color-contacts-bg: #333;
  --color-contacts-text: #333;
  --color-error-text: red;
  --color-user-icon: #333;
  --color-contacts-icon-text: #fff;
  --color-modal-button: #333;
  --color-modal-text: #fff;
  --color-modal-button-hover: #444;
  --color-selected-contact-bg: #666;
  --color-notselected-contact-bg: #fff;
}

.logo {
  filter: none;
}

html.dark .logo {
  filter: sepia(1) invert(1) brightness(0.7);
}

main {
  min-height: 100vh;
  padding: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.rbc-toolbar {
  background-color: var(--color-toolbar-bg);
  color: var(--color-toolbar-label);
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 9px;
}

.rbc-event {
  border-radius: 8px;
  padding: 4px;
  font-size: 0.9rem;
  background-color: var(--color-event-bg);
  color: var(--color-event-text);
}

.rbc-today {
  border: 1px solid var(--color-today-border);
}

.rbc-month-view {
  border-radius: 9px;
  border: none;
  background-color: var(--color-calendar-bg);
  padding: 0 8px 8px 8px;
}

.rbc-month-row {
  border-top: none !important;
}

.rbc-day-bg {
  background-color: var(--color-calendar-numbers);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 7px;
  max-width: none;
  height: 100%;
}

.rbc-date-cell {
  margin: auto;
}

.rbc-calendar {
  border-radius: 9px;
  background-color: var(--color-calendar-bg);
}

.rbc-today {
  border: 2px solid var(--color-calendar-border);
}

.rbc-header {
  background-color: var(--color-calendar-numbers);
  color: var(--color-calendar-border);
  font-size: 1rem;
  border-radius: 15px;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: none;
  margin: 1px 3px;
  padding: 3px;
}

.rbc-time-slot {
  /* color: var(--color-event-text) */
  color: black;
}

.rbc-allday-cell .rbc-row-bg {
  padding: 2px;
}

.rbc-month-header,
.rbc-row-bg,
.rbc-row {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.rbc-month-header,
.rbc-row-content,
.rbc-row-bg,
.rbc-month-view {
  gap: 4px;
}

.rbc-row-content {
  width: 99.5%;
}

.rbc-current button.rbc-button-link {
  font-size: 1rem;
  font-weight: 600;
  padding: 3px;
}

.rbc-toolbar button {
  background-color: var(--color-toolbar-button);
  color: var(--color-toolbar-text);
  font-weight: normal;
  transition: background-color 0.2s ease, color 0.2s ease;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 0.9rem;
}

@media (max-width: 875px) {
  .rbc-toolbar {
    flex-direction: column;
  }
  .rbc-toolbar-label {
    margin: 10px 0;
  }
}

.rbc-event {
  width: 90%;
  margin-left: 6px;
}

/* .rbc-toolbar button.rbc-active {
  background-color: var(--color-toolbar-button-active);
  color: var(--color-toolbar-label);
  font-weight: 600;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button:hover {
  background-color: var(--color-toolbar-button-hover);
  color: var(--color-toolbar-label);
} */

.rbc-toolbar button.rbc-active {
  background-color: var(--color-toolbar-button-active) !important;
  color: var(--color-toolbar-label);
  font-weight: 600;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.rbc-toolbar button:hover {
  background-color: var(--color-toolbar-button-hover);
  color: var(--color-toolbar-label);
}

.rbc-toolbar button.rbc-active:hover {
  background-color: var(--color-toolbar-button-active) !important;
  color: var(--color-toolbar-label);
}

.rbc-toolbar-label {
  font-size: 1.6rem;
  font-weight: 700;
}

.rbc-button-link {
  color: var(--color-calendar-border);
  font-weight: 500;
  font-size: 0.9rem;
}
